<!-- Toolbar -->
<mat-toolbar color="primary" class="header">
  <div>Esmeraldas Aliadas</div>
  <span class="nav-tool-items">
    <mat-icon (click)="sidenav.toggle()" class="hamburger">menu</mat-icon>
  </span>
</mat-toolbar>

<mat-sidenav-container>
  <!-- Sidenav -->
  <mat-sidenav #sidenav [mode]="isBiggerScreen() ? 'over' : 'side'" [(opened)]="opened" [fixedInViewport]="true"
    fixedTopGap="55">
    <mat-nav-list>
      <a mat-list-item routerLinkActive="active" routerLink="/worker/add">
        <mat-icon>add</mat-icon> Añadir Trabajador
      </a>
      <a mat-list-item routerLinkActive="active" routerLink="/worker/list">
        <mat-icon>format_list_bulleted</mat-icon> Lista de Trabajadores
      </a>
      <mat-divider [inset]="true"></mat-divider>
      <a mat-list-item routerLinkActive="active" routerLink="/emerald/add">
        <mat-icon>add</mat-icon> Añadir Esmeralda
      </a>
      <a mat-list-item routerLinkActive="active" routerLink="/emerald/list">
        <mat-icon>format_list_bulleted</mat-icon> Lista de Esmeraldas
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <!-- Main content -->
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>